.button {
  display: block;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--accent {
  @include accent-mix-button;
}

.button--more {
  display: block;
  background-color: $secondary-background;
  color: $base-color-text;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

