.main-header {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, #68b738d9 1040px, #62a53b 1041px), url("../../images/promo-background-desk@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50vw 0, 50vw 0;
    background-size: 100% 694px, 1041px 694px;
  }
}

.main-header__toggle {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  background-color: $base-background;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::after {
  @media (max-width: $mobile-width) {
    content: "";
    background-image: url("../../icons/open-button.svg");
    width: 24px;
    height: 24px;
    display: block;
  }
}

.main-header--catalog {
  background-image: none;
}
