.main-header {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 1040px, #62a53b 1041px),
    image-set(
        url("../../images/promo-background-desk@1x.webp") 1x type("image/webp"),
        url("../../images/promo-background-desk@2x.webp") 2x type("image/webp"),
        url("../../images/promo-background-desk@1x.jpg") 1x type("image/jpg"),
        url("../../images/promo-background-desk@2x.jpg") 2x type("image/jpg")
    );
    background-repeat: no-repeat;
    background-position: 50vw 0, 50vw 0;
    background-size: 100% 694px, 1041px 694px;
  }
}

.main-header__toggle {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  background-color: $base-background;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle::after {
  @media (max-width: $mobile-width) {
    content: "";
    mask-image: url("../../icons/open-button.svg");
    background-color: $primary-color-text;
    width: 24px;
    height: 24px;
    display: block;
  }
}

.main-header__toggle--closed {
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: auto;
  background-color: $base-background;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

}

.main-header__toggle--closed::after {
  @media (max-width: $mobile-width) {
    content: "";
    mask-image: url("../../icons/close-button.svg");
    background-color: $primary-color-text;
    width: 18px;
    height: 18px;
    display: block;
  }
}

.main-header--catalog {
  background-image: none;
}
