.main-nav {
  display: flex;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 74px;
  }
}
