.promo {
  /*display: flex;
  flex-direction: column;*/
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
}

.promo__container {
  color: $accent-color-text;
  font-weight: 400;
  text-align: center;
  padding: 27px 15px 29px 16px;
}

.promo__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: $accent-color-text;
  font-weight: 400;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include media-title-size;
    color: $primary-color-text;
    text-align: left;
    padding-bottom: 40px;
  }
}

.promo__slogan {
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    font-size: 14px;
    line-height: 14px;
    color: $accent-color-text;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $primary-color-text;
    text-align: left;
  }
}

.promo__image {
  display: block;
  margin:0 auto;
}
