.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    min-width: 440px;
    margin-left: auto;
  }

  @media(min-width: $desktop-width) {
    gap: 35px;
  }
}

.site-list__item {
  @media (max-width: $mobile-width) {
    border-bottom: 1px solid $line-color;
  }
}

.site-list__item:first-child {
  @media (max-width: $mobile-width) {
  border-top: 1px solid $line-color;
  }
}

.site-list__item-current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $accent-color;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $accent-color;
  }
}

.site-list__link {
  display: block;
  text-align: center;
  padding: 22px 0 24px;
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: $primary-color-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 0 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $accent-color-text;
    padding: 16px 0 6px;
  }
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--catalog {
  @media (min-width: $desktop-width) {
    color: $promo-color-text
  }
}

.site-list__link--index {
  border-bottom: 1px solid $accent-color-text;
}
