.slider__image {
  width: 280px;
  height: 256px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    display: flex;
  }
}

.slider__image-fat {
  display: block;
  width: 100%;
  height: 100%;
  clip-path: inset(0 50% 0px 0);
}

.slider__image-slim {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 50%);
  left: 0;
  top: 0;
}
