.stats {
  padding: 25px 0 40px;
}

.stats-background {
  background: $special-background;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 300px, #eaeaea 160px);
  }
}

.stats__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $primary-color-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include media-title-size;
  }
}

.stats__intro {
  margin: 40px 0 20px;

  @media (min-width: $tablet-width) {
    @include media-font-size;
    color: $base-color-text;
  }
}

.stats-list {
  display: flex;
  justify-content: space-between;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__number {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $primary-color-text;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__cost {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  color: $primary-color-text;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
